* {
    font-family: 'YouTube Noto', Roboto, arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;

}

header a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 230px;
    padding: 13px 22px;
    box-sizing: border-box;
    /*Have padding not be included in width measurement*/
    z-index: 1;
    top: 0;
    left: 0;
    margin: 50px 0px;
}

.sidebar a {
    display: block;
    color: black;
}

.main {
    margin: 25px 0px 0px 230px;
    padding: 25px;
    background-color: #f1f1f1;
}

.post {
    background-color: white;
    padding: 15px;
}

.post_area{
    margin-bottom: 24px;
}

.author:link {
    text-decoration: none;
}

.author:hover {
    text-decoration: underline;
}

.replies {
    margin-left: 58px;
}

.reply_meta_data{
    font-size: 1.6rem;
    margin-bottom:24px;
}